<% if user_signed_in? %>
  <h1>Bienvenido <%= current_user.name %></h1>
  <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
<% else %>
  <h1>Bienvenido a SoundFinder</h1>
  <%= link_to "Iniciar sesión", new_user_session_path %>
<% end %>