<div class="ui fluid container banner">
  <h1 class="welcome-title">¡Bienvenido a SoundFinder!</h1>
  <h1 class="welcome-subtitle">Encuentra excelentes efectos de sonido listos para usarlos en tus proyectos.</h1>
</div>

<div class="ui container top-space">

  <div class="ui secondary segment">
    <div class="ui huge fluid icon input">
      <i class="search icon"></i>
      <input type="text" placeholder="Buscar...">
    </div>
  </div>

  <div class="ui secondary segment">
    <h2 class="ui header">
      <i class="lightning icon"></i>
      <div class="content">
        Nuevos sonidos
      </div>
    </h2>

    <% @sounds.each do |sound| %>
      <div class="ui raised segment">
        <%= sound.name %>
        <br>
        <audio src="<%= sound.sound_url %>" controls>
          <p>Tu navegador no implementa el elemento audio.</p>
        </audio>
      </div>
    <% end %>
    
  </div>

</div>
