<div class="ui fluid container banner">
  <h1 class="welcome-title">¡Bienvenido a SoundFinder!</h1>
  <h1 class="welcome-subtitle">Encuentra excelentes efectos de sonido listos para usarlos en tus proyectos.</h1>
</div>

<div class="ui container top-space">
</div>
