/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$font-family: 'Helvetica Neue';
@import "semantic-ui";
@import "font-awesome";

html, body {
  height: auto !important;
}

body {
  padding-top: 68px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.main {
  width: 100%;
}

/******* MISC ********/

.right-space {
  margin-right: 15px !important;
}

.top-space {
  padding-top: 20px;
}

/******** TOP NAVBAR ********/

.main-header {
  border-top: none !important;
  background: #274555 !important;
  box-shadow: 0px 0px 3px 2px #212121 !important;
}

.item-title {
  padding: 0 !important;
}

.right.menu .item {
  padding-right: 0 !important;
}

.item-title img {
  padding: 12px 0 10px 0;
  width: 3.8em !important;
}


/******** BANNER *********/

.banner {
  background-image: url('welcome-banner.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 350px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner * {
  color: #fff;
}

.banner .welcome-title {
  font-size: 50px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.banner .welcome-subtitle {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


/******** FOOTER *********/

.footer {
  width: 100%;
  align-self: flex-end;
  background: #274555 !important;
  margin: 2em 0em 0em !important;
}

.login.popup {
  width: 500px !important;
}
